* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: whitesmoke;
    color: black;
    font-weight: bold;
    
}

.nav-links {
        display: flex;
        list-style: none;
        gap: 150px;
        color: black;
        font-weight: bold;
        
}

.ho{
    color: black;
    text-decoration: none;
}
.ho:hover{
    text-decoration: underline;
}

.hero{
    display: flex;
    width: 100%;
    height: 100vh;
}

.shade1,.shade2{
    flex: 1;
}
.shade2{background-color: aquamarine;
display: flex;
}

.shade1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
margin-top: 200px;
margin-left: 20px;
 transform: translateY(50px);
    animation: flyIn 1.5s ease forwards;
    font-weight: bolder;
}

p{
    margin-top: 30px;
    opacity: 0;
    transform: translateY(50px);
    animation: flyIn 2.8s ease forwards;
}

@keyframes flyIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
